.iconCss .search {
  display: inline-block;
  width: 17px;
  height: 19px;
  background: url("../assets/img/search.png") no-repeat;
}

.iconCss .edit {
  display: inline-block;
  width: 17px;
  height: 19px;
  background: url("../assets/img/edit.png") no-repeat;
}

.iconCss .imdel {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../assets/img/del1.png") no-repeat;
}

.iconCss .copy {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../assets/img/copy.png") no-repeat;
}
.iconCss .settlement {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../assets/img/epub.png") no-repeat;
}
